login=talho
password=somepassword
nick=Talho-san
server=jabber.ru
join=test@conference.jabber.ru,anotherconf@conference.neko.im
plugins=OpinionCommandPlugin, BehindComputerPlugin, WhoisCommandPlugin, GoogleCommandPlugin, ManCommandPlugin, \
TitlePlugin, QalcCommandPlugin, MarkovResponsePlugin, MarkovCollectorPlugin, StdinPlugin, AnonEchoPlugin, \
TimerPlugin, GoodbyePlugin, doto.TwitchTwitcher, doto.V4L3TFollowerPlugin, doto.DotoSchedulePlugin
twitter_oauth_consumer_key=
twitter_oauth_consumer_secret=
twitter_oauth_access_token=
twitter_oauth_access_token_secret=
usedb=1
goodbye_msg=I'm outta here.
nxtAPIAddress=http://127.0.0.1:7876
# change to your address
karmaAddress=NXT-QX83-7KX9-7P29-5GHFL
# change to your passphrase
karmaPass=shall truth women know step split forward swell history cloud trade learn
steam_api_key=
twitch_client_id=
twitch_subscriptions=
imgurApiKey=
matrixToken=access_token_for_matrix
apiServer=matrix.org
mxid=@bot:matrix.org
hatsUA=Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.124 Safari/537.36
hatsCFClearance=cf_clearance_cookie_value